<!-- <form #loginForm="ngForm" class="form-group" (ngSubmit)="save(loginForm)">

    <h3>Login Page</h3>
    <div>

        <input type="text" name="username" placeholder="Username" required ngModel id="">
    </div>
    <div>

        <input type="password" name="password" placeholder="Password" required ngModel id="">
    </div>
    <div>
        <input type="checkbox" ngModel required name="remember" id="">Remember Me
    </div>
    <div>
        <input type="submit" name="Submit" value="SUBMIT" id="">
    </div>
</form>



<div class="card" style="width: 80rem;">
    <div class="card-body">
        <form #loginForm="ngForm" class="form-group" (ngSubmit)="save(loginForm)">

            <h3 class="card-title">Login Page</h3>
            <div class="input-group mb-3">

                <span class="input-group-text" id="inputGroup-sizing-default"></span>
                <input type="text" name="username" required ngModel
 placeholder="Username"                    aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">

                <span class="input-group-text" id="inputGroup-sizing-default" ></span>
                <input type="password" name="password"  required ngModel placeholder="Password"
                    aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">

                <input type="checkbox" ngModel required name="remember" id="">Remember Me
            </div>
            <div class="input-group mb-3">
                <input type="submit" class="btn btn-primary" name="Submit" value="SUBMIT" id="">
            </div>
        </form>

    </div>
</div> -->



<div>
    <form #loginForm="ngForm" (ngSubmit)="save(loginForm)" class="form-group"  >
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Username</span>
            <input type="text"  ngModel  required  aria-label="Username"  name="username" aria-describedby="basic-addon1">
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Password</span>
            <input type="password" ngModel required aria-label="Username" name="password" aria-describedby="basic-addon2">
        </div>
        
        <div class="input-group-text">
            <input type="checkbox" required name="remember" ngModel aria-label="Checkbox">Remember Me
        </div>
        
        <div class="input-group mb-3">
            <input type="submit" aria-label="SUBMIT" class="btn btn-primary">
        </div>
    </form>
</div>