<form #rootForm="ngForm" class="form-group" (ngSubmit)="save(rootForm)">

    <h3>Root Login</h3>
    <div>

        <input type="text" name="name" placeholder="Enter Name here..." required ngModel id="">
    </div>
    <div>

        <input type="email" name="email" placeholder="Enter Email Address here..." required ngModel id="">
    </div>
    <div>

        <input type="password" name="password" placeholder="Enter Password" required ngModel id="">
    </div>
    <div>
        <input type="number" name="moblie" placeholder="Enter Moblie Number" required ngModel id="">

    </div>
    <div>
        <label for="login">Types of User :</label>
        <select name="login" id="login">
            <option value=""> </option>
            <option value="superadmin">Superadmin</option>
            <option value="admin">Admin</option>
            <option value="broker">Broker</option>
            <option value="customer">Customer</option>
        </select>
    </div>
    <div>
        <input type="submit" name="root">
    </div>
</form>