<div>
    <form class="form-group" #jobForm="ngForm" (ngSubmit)="save(jobForm)">

        <h2>Service Form</h2>
        <div>
            <label for="name">Name :</label>
            <input type="text" name="name" placeholder="Enter Name " ngModel>
        </div>

        <div>
            <label for="phone">Mobile :</label>
            <input type="number" name="phone" placeholder="Enter Mobile Number " ngModel>
        </div>

        <div>
            <label for="email">Email Id :</label>
            <input type="email" name="email" placeholder="Enter Email Address " ngModel>
        </div>

        <textarea name="address" placeholder="Enter Address" ngModel cols="30" rows="4">Address :</textarea>   
        
            
        <div>
            <label for="UID"></label>
            <input type="number" name="UID"   placeholder="Enter Addhar Card Number "   ngModel >
        </div>
            
        <div>
            <input type="submit" name="submit"   placeholder="SUBMIT" >
        </div>
        
    </form>
</div>